@import url("./variables.css");

:root {
    --color-box-height: 50px;
    --border-radius: 500px;
    --gap: 5px;
}

* {
    box-sizing: border-box;
    font-family: Inter;
}

h1, h2, h3, h4, h5, h6 {
    user-select: none;
    margin: 0;
    margin-bottom: 15px;
}

p {
    /* user-select: none; */
    margin: 0;
    margin-bottom: 10px;
}

span {
    user-select: none;
    margin: 0;
}

/* ############################################################################
------------------------------- MAIN CONTAINERS -------------------------------
############################################################################ */

html,
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
    padding: 0;
    margin: 0;
    background-color: var(--html-background-color);
    color: var(--font-color-default);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--header-height); height: var(--header-height); max-height: var(--header-height);
    min-width: 100%;
    margin: 0;
    padding: 0 var(--horizontal-padding);
    background-color: var(--primary);
    color: var(--primary-contrast);
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: var(--main-height); height: var(--main-height); max-height: var(--main-height);
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--footer-height); height: var(--footer-height); max-height: var(--footer-height);
    min-width: 100%;
    margin: 0;
    padding: 0 var(--horizontal-padding);
    background-color: var(--primary);
    color: var(--primary-contrast);
}

/* ############################################################################
--------------------------------- CLICKABLES ---------------------------------
############################################################################ */

/* -------------------------------- Anchors -------------------------------- */

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: var(--font-color-links);

    &:hover {
        text-decoration: underline;
    }
    
    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

/* -------------------------------- Buttons -------------------------------- */

button {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    border: none;
    border-radius: var(--button-border-radius);
    background-color: var(--gray-10);
    padding: 2% 5% 2% 5%;
    margin: 0;
    font-size: var(--button-font-size);
    flex-wrap: wrap;
    color: var(--gray-80);

    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}
    @media (hover:hover) and (pointer: fine) {
        button:hover {
            cursor: pointer;
            background-color: var(--gray-20);
        }
    }

/* -------------------------------- Switch -------------------------------- */

/* The switch - the box around the slider */
.switch {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--gray-20);
    -webkit-transition: .3s;
    transition: .3s ease-out;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px; bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s ease-out;
    }
}
  
  
input:checked + .slider {
    background-color: var(--primary);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}
  

/* ############################################################################
------------------------------------ MODAL ------------------------------------
############################################################################ */

.modal-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000a4;
    z-index: 50;
    opacity: 0;
    transition: opacity .2s linear;
}

.modal-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    background-color: #1d1d1d;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity .2s linear;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modal-div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal-inner-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
}

.modal-title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ---------------------------------------- APP SPECIFIC ---------------------------------------- */

:root {
    --gap: 5px;

    --rounds-area-width: 230px;
    --rounds-area-height: 45px;

    --calculated-height: calc((100% - (var(--gap) * 4) - var(--rounds-area-height)) / 2);

    --player-area-width: 230px;
    --player-area-height: var(--calculated-height);

    --district-area-width: calc((100% - (var(--gap) * 4)) / 3);
    --district-area-height: var(--calculated-height);


    --round-button-size: 50px;
    --round-button-top-gap: 30px;
    --round-button-vertical-gap: 5px;
}

.actual-round-area,
.next-round-area,
.central-area,
.player-1-area,
.player-2-area,
.footlight-area,
.waterfront-area,
.canal-area {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    color: white;
    /* background-color: var(--gray-80); */
    font-size: 13px;
}

/* SIZES ---------------------------------------------------------- */
.rounds-area {
    top: var(--gap);
    height: var(--rounds-area-height);
}
    .actual-round-area {
        left: var(--gap);
        width: var(--rounds-area-width);
    }
    .next-round-area {
        right: var(--gap);
        width: var(--rounds-area-width);
    }

.central-area {
    --keeper-size: 20%;
    top: var(--gap); left: calc(var(--gap) + var(--player-area-width) + var(--gap));
    width: calc(100% - ((var(--gap) + var(--player-area-width) + var(--gap)) * 2 ));
    height: calc( var(--rounds-area-height) + var(--gap) + var(--player-area-height));
    opacity: 1;
    transition: opacity .5s linear;

    & .ritual-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50%; width: 50%;
        min-height: 50%; height: 50%;
        background-size: cover;
        background-position: center;

        & .ritual-symbol-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100%; width: 100%;
            min-height: 100%; height: 100%;
            /* transition: background-color .5s linear; */

            & img {
                filter: var(--filter-white);
                height: 75%;
            }

            &.ritual-disabled {
                background-color: #000000b7;

                & img {
                    opacity: .5;
                }
            }

            &.ritual-available {
                background-color: #ffffff00;

                & img {
                    opacity: 1;
                }
            }

            &.ritual-unlocked {
                background-color: #000000;

                & img {
                    filter: var(--filter-ritual);
                    opacity: 1;
                }
            }
            
        }

        &.nero-ritual-button {
            top: 0; left: 0;
            background-image: url('../medias/images/soe/nero-ritual-room.png');
        }
        &.jessica-ritual-button {
            top: 0; left: 50%;
            background-image: url('../medias/images/soe/jessica-ritual-room.png');
        }
        &.floyd-ritual-button {
            top: 50%; left: 0;
            background-image: url('../medias/images/soe/floyd-ritual-room.png');
        }
        &.jack-ritual-button {
            top: 50%; left: 50%;
            background-image: url('../medias/images/soe/jack-ritual-room.png');
        }
        &.rift-ritual-button {
            display: none;
            border-radius: 500px;
            min-width: 104px; width: 104px;
            min-height: 104px; height: 104px;
            overflow: hidden;
            background-image: url('../medias/images/soe/rift-ritual-room.png');
        }
    }

    & .keeper-symbol-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--keeper-size);
        width: fit-content;
        opacity: .5;
        filter: var(--filter-gray-30);
        /* background-color: magenta; */

        & img {
            height: 100%;
        }

        &.keeper-0 { bottom: 0; left: calc(50% - (var(--keeper-size) * 2)); }
        &.keeper-1 { bottom: var(--keeper-size); left: calc(50% - (var(--keeper-size) * 1.75)); }
        &.keeper-2 { bottom: calc(var(--keeper-size) * 2); left: calc(50% - (var(--keeper-size) * 1.5)); }
        &.keeper-3 { bottom: calc(var(--keeper-size) * 3); left: calc(50% - (var(--keeper-size) * 1)); }
        &.keeper-4 { top: calc((var(--keeper-size) / 2)); }
        &.keeper-5 { bottom: calc(var(--keeper-size) * 3); right: calc(50% - (var(--keeper-size) * 1)); }
        &.keeper-6 { bottom: calc(var(--keeper-size) * 2); right: calc(50% - (var(--keeper-size) * 1.5)); }
        &.keeper-7 { bottom: var(--keeper-size); right: calc(50% - (var(--keeper-size) * 1.75)); }
        &.keeper-8 { bottom: 0; right: calc(50% - (var(--keeper-size) * 2)); }
    }

    
}

.player-area {
    top: calc(var(--gap) + var(--rounds-area-height) + var(--gap));
    width: var(--player-area-width);
    height: var(--player-area-height);
    background-size: cover;
    background-position: center;

    &.default-background {
        background-image: url('../medias/images/soe/background.png');
    }

    &.lazr-background {
        background-image: url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/ea63841ccf91d63e9973fcc75575d80a8bb093f564d677fde79c5b34abdbe781._RI_TTW_SX1080_FMjpg_.jpg');
    }

    &.manta-background {
        background-image: url('https://www.surfer.com/.image/t_share/MTk2Mjc3MDUyNjM3NTg2OTcx/gilbert-teave-teahupoo.jpg');
    }

    &.brati-background {
        background-image: url('https://static.vecteezy.com/system/resources/previews/023/856/948/non_2x/cute-baby-fox-in-snow-winter-seasonal-theme-generative-ai-free-photo.jpg');
    }
}
    .player-1-area {
        left: var(--gap);
    }
    .player-2-area {
        right: var(--gap);
    }

.district-area {
    width: var(--district-area-width);
    height: var(--district-area-height);
    background-size: cover;
    background-position: top;
}
    .footlight-area {
        bottom: var(--gap); left: var(--gap);
    }
    .waterfront-area {
        bottom: var(--gap); left: calc(var(--gap) + var(--district-area-width) + var(--gap));
    }
    .canal-area {
        bottom: var(--gap); right: var(--gap);
    }

.player-area, .district-area {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > .area-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 25px; height: 25px; max-height: 25px;
        padding: 5px 0;

        &.default-title {
            background-color: #000000c9;
        }

        &.lazr-title {
            background-color: #000000c9;
            color: #eb6851;
        }

        &.manta-title {
            background-color: #000000c9;
            color: #62dae2;
        }

        &.brati-title {
            background-color: #000000c9;
            color: #f88d46;
        }
    }

    & > .area-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px 5px;
        background-color: #00000080;
    }
}

.line {
    position: absolute;
    top: calc(25px + var(--gap) + (var(--round-button-size) / 2) - 2px);
    display: flex;
    min-height: 4px;
    width: 20px;
    background-color: white;
    opacity: .25;

    &.line-1 {
        left: calc(50% - (var(--round-button-size) / 2) - 20px);
    }

    &.line-2 {
        left: calc(50% + (var(--round-button-size) / 2));
    }
}

.round-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--round-button-size);
    height: var(--round-button-size);
    border-radius: 500px;
    box-shadow: 0px 5px 11px 2px #000000;

    & > img {
        height: 20px;
    }

    &.disabled {
        background-color: var(--gray-90);
        border: 4px solid white;
        opacity: .25;

        & > img {
            filter: var(--filter-white);
        }
    }

    &.available {
        background-color: var(--gray-90);
        border: 4px solid white;

        & > img {
            filter: var(--filter-white);
        }
    }

    &.unlocked {
        /* background-color: var(--gray-90);
        border: 4px solid var(--unlocked); */
        /* background-color: var(--unlocked); */
        background: var(--unlocked-gradient);
        border: none;

        & > img {
            height: 30px;
            /* filter: var(--filter-unlocked); */
            filter: var(--filter-gray-90);
        }
    }

    &.packed {
        /* background-color: var(--gray-90);
        border: 4px solid var(--packed); */
        /* background-color: var(--packed); */
        background: var(--packed-gradient);
        border: none;

        & > img {
            height: 30px;
            /* filter: var(--filter-packed); */
            filter: var(--filter-gray-90);
        }
    }

    &.servant {
        /* background-color: var(--gray-90);
        border: 4px solid var(--packed); */
        /* background-color: var(--packed); */
        background: var(--servant-gradient);
        border: none;

        & > img {
            height: 30px;
            /* filter: var(--filter-packed); */
            filter: var(--filter-gray-90);
        }
    }
}

#player1PackedButton { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size)) - 10px); }
#player1SwordButton { top: var(--round-button-top-gap); right: calc(50% - (var(--round-button-size)) - 10px); }
#player1RayGunButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#player1ArniesButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size) / 2)); }
#player1ServantButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); right: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }

#player2PackedButton { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size)) - 10px); }
#player2SwordButton { top: var(--round-button-top-gap); right: calc(50% - (var(--round-button-size)) - 10px); }
#player2RayGunButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#player2ArniesButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size) / 2)); }
#player2ServantButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); right: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }

#footlightDoor1Button { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#footlightDoor2Button { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size) / 2)); }
#footlightDoor3Button { top: var(--round-button-top-gap); right: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#footlightBeastAreaButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size)) - 10px); }
#footlightPortalButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); right: calc(50% - (var(--round-button-size)) - 10px); }

#waterfrontDoor1Button { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#waterfrontDoor2Button { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size) / 2)); }
#waterfrontDoor3Button { top: var(--round-button-top-gap); right: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#waterfrontBeastAreaButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size)) - 10px); }
#waterfrontPortalButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); right: calc(50% - (var(--round-button-size)) - 10px); }

#canalDoor1Button { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#canalDoor2Button { top: var(--round-button-top-gap); left: calc(50% - (var(--round-button-size) / 2)); }
#canalDoor3Button { top: var(--round-button-top-gap); right: calc(50% - (var(--round-button-size)) - (var(--round-button-size) / 2) - 20px); }
#canalBeastAreaButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); left: calc(50% - (var(--round-button-size)) - 10px); }
#canalPortalButton { top: calc(var(--round-button-top-gap) + var(--round-button-size) + var(--round-button-vertical-gap)); right: calc(50% - (var(--round-button-size)) - 10px); }






/* ############################################################################
-------------------------------- MEDIA QUERIES --------------------------------
############################################################################ */

/* -------------------------------- Tablets -------------------------------- */

@media (min-width : 767px) and (max-width : 1279px) {
    /* ... */
}

/* -------------------------------- Laptops -------------------------------- */

@media (min-width: 1280px) and (max-width: 1919px) {
    /* ... */
}

/* -------------------------------- Desktops -------------------------------- */

@media (min-width: 1920px) {
    /* ... */
}