:root {
    /* ########################################################################
    --------------------------------- COLORS ---------------------------------
    ######################################################################## */

    /* Gray */
    --gray-90: #191919;
    --filter-gray-90: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(430%) hue-rotate(344deg) brightness(103%) contrast(80%);
    --gray-80: #333333;
    --filter-gray-80: brightness(0) saturate(100%) invert(16%) sepia(12%) saturate(2%) hue-rotate(314deg) brightness(90%) contrast(86%);
    --gray-70: #4d4d4d;
    --filter-gray-70: brightness(0) saturate(100%) invert(26%) sepia(0%) saturate(1302%) hue-rotate(237deg) brightness(107%) contrast(88%);
    --gray-60: #666666;
    --filter-gray-60: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(0%) hue-rotate(321deg) brightness(92%) contrast(90%);
    --gray-50: #808080;
    --filter-gray-50: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(967%) hue-rotate(187deg) brightness(94%) contrast(82%);
    --gray-40: #999999;
    --filter-gray-40: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(256%) hue-rotate(167deg) brightness(80%) contrast(99%);
    --gray-30: #b3b3b3;
    --filter-gray-30: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(0%) hue-rotate(344deg) brightness(103%) contrast(88%);
    --gray-20: #cccccc;
    --filter-gray-20: brightness(0) saturate(100%) invert(68%) sepia(98%) saturate(0%) hue-rotate(134deg) brightness(100%) contrast(95%);
    --gray-10: #e6e6e6;
    --filter-gray-10: brightness(0) saturate(100%) invert(98%) sepia(13%) saturate(70%) hue-rotate(179deg) brightness(111%) contrast(80%);

    --filter-white: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(13%) hue-rotate(26deg) brightness(98%) contrast(104%);

    --unlocked: #6CB6D5;
    --unlocked-gradient: radial-gradient(circle, rgba(163,248,250,1) 0%, rgba(0,58,148,1) 100%);
    --filter-unlocked: brightness(0) saturate(100%) invert(90%) sepia(18%) saturate(682%) hue-rotate(43deg) brightness(85%) contrast(87%);

    --packed: #FF6D2E;
    --packed-gradient: radial-gradient(circle, rgba(255,185,104,1) 0%, rgba(230,26,0,1) 100%);
    --filter-packed: brightness(0) saturate(100%) invert(49%) sepia(40%) saturate(1823%) hue-rotate(341deg) brightness(102%) contrast(101%);

    --ritual: #f0eb63;
    --filter-ritual: brightness(0) saturate(100%) invert(88%) sepia(11%) saturate(2159%) hue-rotate(356deg) brightness(113%) contrast(88%);

    --servant-gradient: radial-gradient(circle, rgba(190,142,219,1) 0%, rgba(69,0,230,1) 100%);

    /* Primary */
    --primary: #3a386e;
    --primary-hover: #494870;

    --primary-contrast : #ffffff;

    /* Accent */
    --accent: #f29746;

    /* Constant colors */
    --lazr-red: #b85858;
    --html-background-color: black;
    
    /* Font colors */
    --font-color-default: var(--gray-80);

    --font-color-links: var(--gray-80);

    --font-color-header: var(--on-primary);
    --font-color-header-hover: var(--on-primary);
    --font-color-header-focus: var(--on-primary);

    --font-color-footer: var(--on-primary);

    /* ########################################################################
    ---------------------------------- SIZES ----------------------------------
    ######################################################################## */

    /* ------------------------------------------------------------------------
    --------------------------------- HEIGHTS ---------------------------------
    ------------------------------------------------------------------------ */

    --doc-height: 100%;

    /* --------------------------- header height --------------------------- */
    --phone-header-height: 0%;
    --tablet-header-height: 0%;
    --laptop-header-height: 0%;
    --desktop-header-height: 0%;
    /* --------------------------------------------------------------------- */
    --header-height: var(--phone-header-height);
    /* --------------------------------------------------------------------- */

    /* ---------------------------- main height ---------------------------- */
    --phone-main-height: 100%;
    --tablet-main-height: 100%;
    --laptop-main-height: 100%;
    --desktop-main-height: 100%;
    /* --------------------------------------------------------------------- */
    --main-height: var(--phone-main-height);
    /* --------------------------------------------------------------------- */

    /* --------------------------- footer height --------------------------- */
    --phone-footer-height: 0%;
    --tablet-footer-height: 0%;
    --laptop-footer-height: 0%;
    --desktop-footer-height: 0%;
    /* --------------------------------------------------------------------- */
    --footer-height: var(--phone-footer-height);
    /* --------------------------------------------------------------------- */

    /* ------------------------------------------------------------------------
    -------------------------------- PADDINGS --------------------------------
    ------------------------------------------------------------------------ */

    /* --- horizontal padding --- */
    --phone-horizontal-padding: 5vw;
    --tablet-horizontal-padding: 7vw;
    --laptop-horizontal-padding: 10vw;
    --desktop-horizontal-padding: 16vw;
    /* --------------------------------------------------------------------- */
    --horizontal-padding : var(--phone-horizontal-padding);
    /* --------------------------------------------------------------------- */

    
    --button-border-radius: 0;

    /* Button font size */
    --phone-button-font-size: 18px;
    --tablet-button-font-size: 16px;
    --laptop-button-font-size: 15px;
    --desktop-button-font-size: 14px;
    /* --------------------------------------------------------------------- */
    --button-font-size: var(--phone-button-font-size);
    /* --------------------------------------------------------------------- */
}

/* ############################################################################
-------------------------------- MEDIA QUERIES --------------------------------
############################################################################ */

/* -------------------------------- Tablets -------------------------------- */

@media (min-width : 767px) and (max-width : 1279px) {
    :root {
        --main-height: var(--tablet-main-height);
        --header-height: var(--tablet-header-height);
        --footer-height: var(--tablet-footer-height);
        --horizontal-padding : var(--tablet-horizontal-padding);
    }
}

/* -------------------------------- Laptops -------------------------------- */

@media (min-width: 1280px) and (max-width: 1919px) {
    :root {
        --main-height: var(--laptop-main-height);
        --header-height: var(--laptop-header-height);
        --footer-height: var(--laptop-footer-height);
        --horizontal-padding : var(--laptop-horizontal-padding);
    }
}

/* -------------------------------- Desktops -------------------------------- */

@media (min-width: 1920px) {
    :root {
        --main-height: var(--desktop-main-height);
        --header-height: var(--desktop-header-height);
        --footer-height: var(--desktop-footer-height);
        --horizontal-padding : var(--desktop-horizontal-padding);
    }
}